{% load i18n %}
<div class="d-flex align-items-end pt-2" id="state-row-{{ index }}" style="gap: 8px;">
    {% if form.instance.pk %}<input type="hidden" name="state{{ index }}-row_id" value="{{ form.instance.pk }}">{% endif %}
    <div class="row flex-grow-1 g-2">
        <div class="col-6">
            <div class="oh-input-group">
                <label class="oh-label">{{ form.state.label }}</label>
                {{ form.state }}
            </div>
            {{ form.state.errors }}
        </div>
        <div class="col-6">
            <div class="oh-input-group">
                <label class="oh-label">{{ form.gstin.label }}</label>
                {{ form.gstin }}
            </div>
            {{ form.gstin.errors }}
        </div>
    </div>
    <a
        hx-get="{% url 'company-onboarding-remove-state-row' %}"
        class="oh-btn oh-btn--danger"
        hx-target="#state-row-{{ index }}"
        hx-swap="outerHTML"
        title="{% trans 'Remove state' %}"
    >
        <ion-icon name="trash-outline"></ion-icon>
    </a>
</div>
<div id="state-row-{{ index|add:1 }}-placeholder" class="pt-2">
    <a
        hx-target="#state-row-{{ index|add:1 }}-placeholder"
        hx-swap="outerHTML"
        hx-get="{% url 'company-onboarding-add-state-row' %}?count={{ index }}"
        role="button"
        class="oh-btn oh-btn--x-small oh-btn--success-outline"
    >
        <ion-icon name="add-outline" class="me-1"></ion-icon>
        {% trans "Add State" %}
    </a>
</div>
