{% load i18n %}
<div class="oh-dropdown__filter-body">
    <div class="oh-accordion{% if modern_filter %} oh-accordion--show{% endif %}">
        <div class="oh-accordion-header">
            <span class="oh-filter-section-icon"><ion-icon name="checkbox-outline"></ion-icon></span>
            {% trans "Offboarding Task" %}
        </div>
        <div class="oh-accordion-body">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans "Status" %}</label>
                        {{ form.status }}
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans "Task" %}</label>
                        {{ form.task }}
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans "Stage" %}</label>
                        {{ form.stage }}
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans "Offboarding" %}</label>
                        {{ form.offboarding }}
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans "Created From" %}</label>
                        {{ form.created_at_from }}
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans "Created Till" %}</label>
                        {{ form.created_at_till }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
