{% load i18n %}
<div class="flex items-center justify-center gap-1">
    {% if perms.payroll.change_deduction %}
        <a
            class="oh-btn oh-btn--light-bkg oh-btn--sq-sm"
            href="#"
            hx-get="{% url 'update-deduction' instance.id %}"
            data-toggle="oh-modal-toggle"
            data-target="#objectCreateModal"
            hx-target="#objectCreateModalTarget"
            hx-swap="innerHTML"
            title="{% trans 'Edit' %}"
        >
            <ion-icon
                name="create-outline"
                role="img"
                class="md hydrated"
            ></ion-icon>
        </a>
    {% endif %}
    {# A standard pay item cannot be deleted -- the loan and penalty  #}
{# generators read it. Hidden rather than shown-and-refused: an   #}
{# offered action that always fails is worse than no action.      #}
{% if perms.payroll.delete_deduction and not instance.is_system %}
        <a
            class="oh-btn oh-btn--danger oh-btn--sq-sm"
            hx-get="{% url 'generic-delete' %}?model=payroll.Deduction&pk={{instance.id}}"
            hx-target="#deleteConfirmationBody"
            data-toggle="oh-modal-toggle"
            data-target="#deleteConfirmation"
            title="{% trans 'Delete' %}"
        >
            <ion-icon
                name="trash-outline"
                role="img"
                class="md hydrated"
            ></ion-icon>
        </a>
    {% endif %}
</div>
